---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import Preloader from "../components/Preloader.astro";
---

<Layout title="Valentina Arce - Inicio">
    <div class="home">
        <Sidebar />
        <Preloader />

        <div class="content">
            <div class="home-content">
                <div class="swiper swiper-banner">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div
                                class="banner-item"
                                style="background-image: url('image/foto (2).webp');"
                            >
                                <div class="banner-content">
                                    <div
                                        class="banner-title-mini wow animate__fadeInLeft"
                                    >
                                        Retratos
                                    </div>
                                    <h1
                                        class="wow animate__fadeInLeft"
                                        data-wow-delay="0.2s"
                                    >
                                        Una galería de expresiones atemporales y
                                        momentos cautivadores
                                    </h1>
                                    <div
                                        class="banner-desc wow animate__fadeInLeft"
                                        data-wow-delay="0.4s"
                                    >
                                        <p>
                                            Abre la puerta a un mundo de
                                            emociones y belleza con fotografías
                                            únicas creadas por un fotógrafo
                                            profesional. Nuestros encuadres no
                                            solo capturan momentos sino que
                                            también cuentan historias, dando
                                            significado a cada detalle.
                                        </p>
                                    </div>
                                    <div
                                        class="banner-btn wow animate__fadeInLeft"
                                        data-wow-delay="0.6s"
                                    >
                                        <a
                                            href="/gallery"
                                            class="link-portfolio"
                                        >
                                            Mostrar portafolio
                                            <img
                                                src="/images/arrow-right.svg"
                                                alt=""
                                            />
                                            <span class="right-border"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div
                                class="banner-item"
                                style="background-image: url('image/foto (1).webp');"
                            >
                                <div class="banner-content">
                                    <div
                                        class="banner-title-mini wow animate__fadeInLeft"
                                    >
                                        Retratos
                                    </div>
                                    <h1
                                        class="wow animate__fadeInLeft"
                                        data-wow-delay="0.2s"
                                    >
                                        El arte del encanto en cada encuadre
                                    </h1>
                                    <div
                                        class="banner-desc wow animate__fadeInLeft"
                                        data-wow-delay="0.4s"
                                    >
                                        <p>
                                            Sumérgete en el arte del retrato con
                                            nuestra colección curada. Desde
                                            miradas evocadoras hasta expresiones
                                            poderosas, nuestros retratos
                                            capturan la esencia de los
                                            individuos en momentos congelados en
                                            el tiempo.
                                        </p>
                                    </div>
                                    <div
                                        class="banner-btn wow animate__fadeInLeft"
                                        data-wow-delay="0.6s"
                                    >
                                        <a
                                            href="/gallery"
                                            class="link-portfolio"
                                        >
                                            Mostrar portafolio
                                            <img
                                                src="/images/arrow-right.svg"
                                                alt=""
                                            />
                                            <span class="right-border"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div
                                class="banner-item"
                                style="background-image: url('image/foto (3).webp');"
                            >
                                <div class="banner-content">
                                    <div
                                        class="banner-title-mini wow animate__fadeInLeft"
                                    >
                                        Retratos
                                    </div>
                                    <h1
                                        class="wow animate__fadeInLeft"
                                        data-wow-delay="0.2s"
                                    >
                                        Capturando momentos atemporales con
                                        gracia y estilo
                                    </h1>
                                    <div
                                        class="banner-desc wow animate__fadeInLeft"
                                        data-wow-delay="0.4s"
                                    >
                                        <p>
                                            Deléitate con el arte de los
                                            retratos elegantes, donde cada
                                            imagen cuenta una historia de
                                            gracia, belleza y sofisticación.
                                        </p>
                                    </div>
                                    <div
                                        class="banner-btn wow animate__fadeInLeft"
                                        data-wow-delay="0.6s"
                                    >
                                        <a
                                            href="/gallery"
                                            class="link-portfolio"
                                        >
                                            Mostrar portafolio
                                            <img
                                                src="/images/arrow-right.svg"
                                                alt=""
                                            />
                                            <span class="right-border"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div
                                class="banner-item"
                                style="background-image: url('image/foto (4).webp');"
                            >
                                <div class="banner-content">
                                    <div
                                        class="banner-title-mini wow animate__fadeInLeft"
                                    >
                                        Belleza
                                    </div>
                                    <h1
                                        class="wow animate__fadeInLeft"
                                        data-wow-delay="0.2s"
                                    >
                                        Captura el momento: El arte del encanto
                                        en cada encuadre
                                    </h1>
                                    <div
                                        class="banner-desc wow animate__fadeInLeft"
                                        data-wow-delay="0.4s"
                                    >
                                        <p>
                                            Abre la puerta a un mundo de
                                            emociones y belleza con fotografías
                                            únicas creadas por un fotógrafo
                                            profesional. Nuestros encuadres no
                                            solo capturan momentos sino que
                                            también cuentan historias, dando
                                            significado a cada detalle.
                                        </p>
                                    </div>
                                    <div
                                        class="banner-btn wow animate__fadeInLeft"
                                        data-wow-delay="0.6s"
                                    >
                                        <a
                                            href="/gallery"
                                            class="link-portfolio"
                                        >
                                            Mostrar portafolio
                                            <img
                                                src="/images/arrow-right.svg"
                                                alt=""
                                            />
                                            <span class="right-border"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="banner-nav-wrap">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-scrollbar"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
